@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 4rem;
}
.box p{
    font-size: 5.5rem;
}
.b-cont button{
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 12px 35px;
    border-radius: 12px;
    color: white;
    border: none;

    background: linear-gradient(to right, rgb(20, 177, 245), rgb(6, 75, 238));
}
.b-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mili{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 4rem;
}
#r-btn{
    margin: 20px auto;
}

@media only screen and (max-width:700px) {
    .box{
        font-size: 2rem;
    }
    .box p{
        font-size: 2.75rem;
    }
    .b-cont button{
        font-size: 2rem;
    }
    #mili{
        font-size: 3rem;
        font-weight: 300;
    }
}