@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'colors.css';

*{
  margin: 0;
  padding: 0;
}
html{
  font-family: "Poppins", sans-serif;
}

header{
    position: sticky;
    top: 0;
}

nav{
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background: black;
}

.links-container a{
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
}

.links-container a:hover{
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background: linear-gradient(to right, violet, aqua);
}
nav .home-link{
    margin-right: auto;
}
#sidebar-active{
    display: none;
}
.open-sidebar, .close-sidebar{
  display: none;
}
#logo{
  display: none;
}
#home-link:hover{
    background: black;
}
@media (max-width: 450px) {
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: black;
        box-shadow: -5px 0 50px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px 30px;
    justify-content: flex-start;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.open-sidebar, .close-sidebar{
    display: block;
    padding: 20px;
}
#sidebar-active:checked ~ .links-container {
  right: 0;
}
#sidebar-active:checked ~ #overlay{
    position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
#logo{
  display: flex;
  position: absolute;
  top: 5px;
  left: 10px;
}
#home-link img{
  display: none;
}
#home-link::after{
  content: 'Home';
}
#home-link:hover{
  background: linear-gradient(to right, violet, aqua);
}
}