@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 70px 1fr 250px;
    grid-template-areas:    "header main main"
                                        "nav main main"
                                        "nav footer footer";
}

header img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* a::after{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 45px;
    background: aqua;
    z-index: 1;
} */
a { 
    position: relative;
    /* z-index: 10; */
    margin-left: 15px;
    display: block;
    padding: 8px;
    margin: 5px 0; 
    text-decoration: none; 
    color: black;
    background: #ddd; 
    font-family: "Afacad Flux", Verdana, Geneva, Tahoma, sans-serif;
}

a:hover { background: #bbb; }

header{
    background: rgb(34, 34, 34);
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn a{
    transform: translateY(-3px);
    height: 46px;
    width: auto;
    text-align: center;
    &:hover{
        background-color: black;
        border: none;
    }
}

.home-btn{
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 12px;
    border-radius: 38px;
    background: black;
    width: 145px;
    height: 57px;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: rgb(153, 153, 153);
    }
}

nav{
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-family: "Host Grotesk", "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    grid-area: nav;
    font-weight: 800;
    padding-left: 15px;
    /* font-size: 32px; */
}

.beginner {
    display: inline-flex;
    align-items: center;
    /* justify-content: center; */
    &h3{
        display: inline;

    }
}

main{
    /* background: green; */
    grid-area: main;
    background: rgb(34, 34, 34);
    padding: 25px;
    & iframe {
        width: 100%;
        height: 90vh;
        border: 2px solid black; 
        background: white;
        border-radius: 22px;
    }
}

footer{
    background: gold;
    grid-area: footer;
}